
html {
    height: 100%;
}
body {
    background-image: linear-gradient( darkgray,rgb(19, 19, 48), rgb(90, 1, 1), lightgoldenrodyellow); 
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.nav {
    background-color: transparent;
    margin-bottom: 25px;
    font-family: 'Noto Sans JP', sans-serif;
}

.cast {
    background-color: rgb(221, 197, 153);
    color: black;
}
.cardcont {
    margin: 20px;
}
.sceneCard {
    background-color: rgb(221, 197, 153);
    color: black;
}

.fandfCard {
    background-color: rgb(221, 197, 153);
    color: black;
}
.meridCard {
    background-color:rgb(221, 197, 153);
    color: black;
}
h1 {
    text-align: center;
    font-family: 'Coda Caption', sans-serif;
    color: rgb(14, 13, 13)
}
h2 {
    text-align: center;
    font-family: 'Coda Caption', sans-serif;
    color: rgb(14, 13, 13)
}
a {
    color: black;
    text-decoration: none;
    background-color: transparent;
    font-size: 20px;
}
.card-img-top {
    float: top;
    height: 300px;
    object-fit: cover;
}
.card-text {
    font-family: 'Noto Sans JP', sans-serif;
}