
.nav {
    background-color: aliceblue;
    color: black;
}

.cast {
    background-color: lightskyblue;
    color: black;
}

.sceneCard {
    background-color: lightgreen;
    color: black;
}

.fandfCard {
    background-color: lightgrey;
    color: black;
}
.meridCard {
    background-color:lightsteelblue;
    color: black;
}