
html {
    height: 100%;
}
body {
    background-color: black;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.nav {
    background-color: transparent;
    margin-bottom: 25px;
    font-family: 'Noto Sans JP', sans-serif;
}
#intro {
    color:black;
}
.nav-link {
    color:whitesmoke;
}

#homeTitle {
    color: black;
}
.cast {
    background-color: lightgray;
    color: black;
}
#castBTN {
    background-color: darkslategrey;
    color:mintcream;
    border-color: dimgrey;
}
.cardcont {
    margin: 20px;
}
.sceneCard {
    background-color: lightgray;
    color: black;
}

#phonebreak {
    font-weight: bold;
}
#timeline {
    color: black;
    margin-bottom: 25px;
}
.fandfCard {
    background-color: lightgray;
    color: black;
}
.meridCard {
    background-color:lightgray;
    color: black;
}
h1 {
    text-align: center;
    font-family: 'Chivo', sans-serif;
    color: whitesmoke;
    font-size: 45px;
}
h2 {
    text-align: center;
    font-family: 'Chivo', sans-serif;
    color: whitesmoke;
}
a {
    color: whitesmoke;
    text-decoration: none;
    background-color: transparent;
    font-size: 20px;
}
.card-img-top {
    float: top;
    height: 300px;
    object-fit: cover;
}
.card-text {
    font-family: 'Noto Sans JP', sans-serif;
}